/*
Name: Akshath Jain
Date: 4/15/18
Purpose: style sheet for FFA website;
*/

body{
	font-family: "Montserrat", sans-serif;
	font: 20px;
	line-height: 1.8;
}

.container-fluid{
	padding: 0px;
	margin: 0px;
}


/* navbar styles*/
.navbar{
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 16px !important;
	transition: 0.6s;
	-webkit-transition: 0.6s; /*for safari*/
	background-color: rgba(255,255,255,0.3);
}

.nav li a, .navbar-header a{
	color: #ffffff !important;

}

.nav li a:hover{
	color: #01345B !important;
}

.navbarStateWhenScrolled{
	background-color: #ffffff;
	padding-top: 11px;
	padding-bottom: 11px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

.navbar-menu{
	background-color: rgba(255,255,255,0);
	border: 0px;
}

.navbar-menu:hover{
	background-color: rgba(255,255,255,0) !important;
}

/* hamburger menu */
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

/* scroll spy */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color: #F0AD4E !important;
	background-color: rgba(0,0,0,0);
}

.section-home{
	background: url("../images/background.jpg");
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
	height: 100vh;
}

.section-home-text{
	color: #ffffff;
	position: relative;
	top: 40%;
	transform: translateY(-40%);
}

.section-home-text h3{
	font-size: 50px;
}

.section-home-text p{
	font-size: 25px;
}

.section-primary{
	background-color: #ffffff;
	padding-top: 70px;
	padding-bottom: 70px;
}

.section-secondary{
	background-color: #363636;
	padding-top: 70px;
	padding-bottom: 70px;
}

/* footer styles*/
.section-footer{
	background-color: #2f2f2f;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 70px;
	padding-bottom: 70px;
	color: #ffffff;
	font-size: 16px;
}

.btn-custom{
	display: inline-block;
	background-color: rgba(0,0,0,0);
	color: #ffffff;
	cursor: pointer;
	padding: 3px 8px 3px 8px;
	margin: 8px 0px 8px 0px;
	border-radius: 8px;
	border-style: solid;
	border-color: #01345B;
	transition: 0.1s;
	-webkit-transition: 0.1s;
}

.btn-custom:hover{
	background-color: #01345B;
	color: #ffffff;
	text-decoration: none;
	transition: 0.1s;
	-webkit-transition: 0.1s;
}

.btn-dark-text{
	color: #01345B;
}

.btn-dark-text:hover{
	color: #ffffff;
}